<h1><strong style="color: rgb(0, 138, 0);">The Resume of Dylan Avery<span class="ql-cursor">﻿</span></strong></h1>
<p>
(516) 555-1234
</p>
<p>
138 Anywhere Road Syosset NY 11791 
</p>
<p>
dylavery-the-great@gmail.com  
</p>

<h2>Skills Summary</h2>
<p>
Good with Adults and Children
</p>
<p>
Good at drawing
</p>
<p>
Problem Solver
</p>
<p>
Physically Fit
</p>
<p>
Good at following directions
</p>

<h2><em> Education </em></h2>
<p> 
  Syosset High School NYS Regents Diploma June, 2020 Certification of Career Development and Occupational Studies June, 2020 The Lowell High School, 2018- 2020, GPA 3.50 
  </p>

<h2><em>Work Experience</em></h2>
<p>
  <strong> Marshalls at the Skyview Center 40-24 College Point Blvd, Queens, NY 11354</strong>
</p>
<ul><li>WAGE Certification 10/20/19 – 3/2020 jobs include organizing merchandise and assisting customers&nbsp;</li></ul>

<p>
 <strong>Movies in the Park</strong> / <strong>A Better Jamaica&nbsp;</strong>
</p>
<ul><li>Setting up movie equipment at local parks in Jamaica, Queens July – August 2019&nbsp;</li></ul>

<p>
<strong><em>One Man Show Remodeling - </em></strong><em>Carpentry Assistant - basic carpentry Spring 2020/ Summer 2019</em>
  </p>

<p>
  <strong><em>Mid Island YMCA / JCC </em></strong><em>- Supply Counselor Employee - Summer 2017</em>
  </p>
<ul><li>Collaborated with counselors to assist campers with their supply needs. </li><li>Referred to directions to efficiently supply campers with serving them meals, large water jugs, towels, etc.&nbsp;</li></ul>

<p> 
  <strong><em>PRO Volunteering Club Syosset High School</em></strong>
  </p><p>
    <em>Volunteer 2017 - 2018</em>
  </p>
<ul><li>Assisted special needs High school students to do chores at Homeless Shelters,</li><li>Raised money for Charity</li><li>Collected and organized supplies for people in need.</li></ul>

<p>
  <strong><em>Mural Club</em></strong> - Syosset High School 2018
  </p>

  <p>
    <strong><em>Fencing Club</em></strong> - The Lowell School 2018-2019
    </p>